<div class="layout-row">
  {{#paper-button onClick=(transition-to 'group' group) class="flex"}}
    <div class="layout-row">
      <div class="flex-50 layout-row layout-align-center-center">
        {{#each women as |woman|}}
          <img class="icon" src="/female.png">
        {{/each}}
        {{#if (and group.women group.men)}}
          <span class="spacer"></span>
        {{/if}}
        {{#each men as |man|}}
          <img class="icon" src="/male.png">
        {{/each}}
      </div>
      <div class="flex-25">
        {{group.points}}
      </div>
      <div class="flex-25">
        {{#if group.mark}}
          {{to-precision group.mark 3}}
        {{else}}
          -
        {{/if}}
      </div>
    </div>
  {{/paper-button}}
</div>
